<div class="title">
  <span>B</span>
  <span>E</span>
  <span>M</span>
  <span>&nbsp;</span>
  <span>V</span>
  <span>I</span>
  <span>N</span>
  <span>D</span>
  <span>O</span>
  <span>&nbsp;</span>
  <span>A</span>
  <span>&nbsp;</span>
  <span class="red">#</span>
  <span class="red">P</span>
  <span class="red">R</span>
  <div id="PRO" alt="">
    <img class="imgBG" src="assets/imgs/PRO-nav-test-empty.png" height="100%" alt="">
    <div class="mask">
      <img src="assets/imgs/PRO-nav-test.png" style="height:100%;position:absolute" alt="">
    </div>
  </div>
</div>
<div class="start360">
  Clique aqui para conhecer a pro em 360
</div>
